.ssc-calendar {
  width: 100%;
  border-collapse: collapse;
   line-height: 1.4;
}

.ssc-month-nav{
    text-align-last: center;
}
.ssc-month-nav a{
    display: inline-block;
    background: #999;
    color: #fff;
    text-decoration: none !important;
    padding: 0.3rem 1rem;
    border-radius: 3px;
}
.ssc-month-nav a:hover{
    color: #fff;
    opacity: 0.7;
}

.ssc-month-nav span{
    display: inline-block;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1.1em;
}

body .ssc-calendar th,
body .ssc-calendar td {
  border: 1px solid #ccc;
  vertical-align: top;
  width: calc( 100% / 7);
}
body .ssc-calendar th,
body .ssc-calendar td > div{
    padding:clamp(0.063rem, -0.055rem + 0.59vw, 0.313rem);
}
body .ssc-calendar th{
    background: rgba(227,227,227,1.00);
    text-align: center;
}
body .ssc-calendar td{
    padding: 0;
    background: #fff;
}

.ssc-date {
  font-weight: bold;
  font-size: 12px;
}

.ssc-item {
  font-size: clamp(0.688rem, 0.54rem + 0.74vw, 1rem);
  margin-top: 2px;
}
.ssc-item:hover {
   cursor: pointer;

}

.sc-month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


/*本文（ssc_body）モーダル表示*/.ssc-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}
.ssc-modal.show {
  display: block;
  padding: 1rem;
}
.ssc-modal-bg {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.6);
}
.ssc-modal-box {
  position: relative;
  background: #fff;
  max-width: 600px;
  margin: 10vh auto;
  padding: 20px;
}
.ssc-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
   width: 2rem;
   height: 2rem;
   font-size: 2rem;
}
#ssc-modal h3{
   margin: 0;
}
