.ssc-calendar {
  width: 100%;
  border-collapse: collapse;
   line-height: 1.4;
}

body .ssc-calendar th,
body .ssc-calendar td {
  border: 1px solid #ccc;
  vertical-align: top;
  padding: 4px;
   width: calc( 100% / 7);
}

.ssc-date {
  font-weight: bold;
  font-size: 12px;
}

.ssc-item {
  background: #444;
  color: #fff;
  font-size: clamp(0.688rem, 0.54rem + 0.74vw, 1rem);
  padding: 0.4em 0.2em;
  margin-top: 2px;
  border-radius: 3px;
}
.ssc-item:hover {
   cursor: pointer;

}

.sc-month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


/*本文（ssc_body）モーダル表示*/.ssc-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}
.ssc-modal.show {
  display: block;
}
.ssc-modal-bg {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.6);
}
.ssc-modal-box {
  position: relative;
  background: #fff;
  max-width: 600px;
  margin: 10vh auto;
  padding: 20px;
}
.ssc-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
   width: 2rem;
   height: 2rem;
   font-size: 2rem;
}
#ssc-modal h3{
   margin: 0;
}
