.ssc-calendar,
.entry-content .ssc-calendar {
  width: 100%;
  border-collapse: collapse;
   line-height: 1.4;
    margin: 1rem auto;
    
}

.ssc-month-nav{
    text-align-last: center;
    padding: 0.5rem 0;
}
.ssc-month-nav a{
    display: inline-block;
    background: #999;
    color: #fff;
    text-decoration: none !important;
    padding: 0.3rem 1rem;
    border-radius: 3px;
}
.ssc-month-nav a:hover{
    color: #fff;
    opacity: 0.7;
}

.ssc-month-nav span{
    display: inline-block;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1.1em;
}

body .ssc-calendar th,
body .ssc-calendar td {
  border: 1px solid #ccc;
  vertical-align: top;
  width: calc( 100% / 7);
}
body .ssc-calendar th,
body .ssc-calendar td > div{
    padding:clamp(0.063rem, -0.055rem + 0.59vw, 0.313rem);
}
body .ssc-calendar th{
    background: rgba(227,227,227,1.00);
    text-align: center;
}
body .ssc-calendar td{
    padding: 0;
    background: #fff;
}

.ssc-date {
  font-weight: bold;
  font-size: 12px;
}

.ssc-item {
  font-size: clamp(0.688rem, 0.54rem + 0.74vw, 1rem);
  margin-top: 2px;
}
.ssc-item:hover {
   cursor: pointer;

}

.sc-month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


/*本文（ssc_body）モーダル表示*/.ssc-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}
.ssc-modal.show {
  display: block;
  padding: 1rem;
}
.ssc-modal-bg {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.6);
}
.ssc-modal-box {
  position: relative;
  background: #fff;
  max-width: 600px;
  padding: 20px;
    min-height: 8rem;
    margin: 50vh auto;
    transform: translateY( -50%);
}
.ssc-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
}
#ssc-modal h3{
   margin: 0;
    font-size: 1.15em;
}

.ssc-item-edit{
    display:block;
    background: rgba(255,255,255,0.65);
    color: #666;
    font-size: 12px;
    width: 3em;
    text-align: center;
    position: relative;
    float: right;
    border: 1px solid #ccc;
    top: -0.5em;
    z-index: 11;
    text-decoration: none !important;
}



/* 閉じるボタン（もし使う場合） */
.my-calendar-modal__close,
.my-calendar-modal button.close,
.my-calendar-modal .close {
    position: absolute !important;
    top: 10px !important;
    right: 14px !important;
    background: none !important;
    border: none !important;
    font-size: 24px !important;
    cursor: pointer !important;
    color: #333 !important;
}
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
	z-index: 3;
    top: 0;
    left: 0;
	background: rgba(0,0,0,0.70);
}

.popup .content{
	position: fixed;
	padding: 3% 3% 8em;
	font-size: 1rem;
	border-radius: 4px;
	border: 2px solid rgba(18,32,179,1.00);
background: #fff;
	top: 50%;
	left: 50%;
	transform: translate( -50%,-50%);
	width: 90%;
	margin: 3vh auto 10vh;
	height: 70vh;
	overflow-y: scroll;

}
	.popup .content ul{
		font-size: 1rem;
		margin-left: 1.0rem;
		line-height: 1.5rem;
	}
	.popup .content ul li{
		font-size: 1rem;
	}	
	.btn_close{
		text-align: center;
		padding: 0.3em;
	}


