.ssc-calendar {
  width: 100%;
  border-collapse: collapse;
   line-height: 1.4;
}

body .ssc-calendar th,
body .ssc-calendar td {
  border: 1px solid #ccc;
  vertical-align: top;
  padding: 4px;
   width: calc( 100% / 7);
}

.ssc-date {
  font-weight: bold;
  font-size: 12px;
}

.ssc-item {
  background: #444;
  color: #fff;
  font-size: clamp(0.688rem, 0.54rem + 0.74vw, 1rem);
  padding: 0.4em 0.2em;
  margin-top: 2px;
  border-radius: 3px;
}

.sc-month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
